#back-color{
  background:#40abaf;
  
}
body{
  background-color:whitesmoke;
}
#img{
    width:40px;
    margin-right: 10px;
}
.footer {
  padding-left: 20px;
  padding-bottom:20px;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:rgba(139, 166, 255, 0.753);
  color:black;
  text-align: center;
}

.button{
    margin-top: 10px;
    color:white;
    background-color:rgb(3, 127, 251);
    width: 40%;
    height:40px;
    border-color: rgb(3, 127, 251);
    border-top-left-radius:30px;
    border-end-end-radius:30px;
    box-shadow:0px 6px 40px 6px rgb(131, 139, 147);
}

.card{
  background-color:rgb(189, 159, 159);
}

.card-text{
  color:black;
}
.card-img-top{
  size: 20px;
  border-radius: 50%;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
}

.bg_img{
  background-image:url(bg_gu.jpg);
  height:auto;
  padding:15%;
  width:auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.pr_center{
  text-align: center;
  color:white;
}